.header {
    background-color: #000407;
    color: #32B9CD;
}
.header .container {
    display: flex;
    justify-content: space-between
}
.navbar {
    display: flex;
    list-style: none;
    width: 400px;
    justify-content: space-between;
}
.container {
    width: 88%;
}